.main-content {
    background-color: #f6f1f1;
    padding: 30px 0 10px;
    box-sizing: border-box;
  }
  
  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .table {
    width: 98%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 3px 15px;
    min-width: 800px;
  }
  
  td,
  th {
    text-align: center;
    padding: 5px 8px;
  }
  
  th {
    background: #42515F 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    font: normal normal mediun 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: 0px solid #dddddd;
  }
  
  tr {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
  }
  
  td {
    font: normal normal nornal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
  }
  
  .add-button {
    margin-right: 1cm;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .person-detail-text {
    font: normal normal bold 25px/27px Arial;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008cff;
    text-transform: uppercase;
    margin: auto;
    margin-left: 5px;
  }
  
  .header-tag {
    margin-left: 1cm;
    display: flex;
    flex-direction: row;
  }